<%- include("partials/header.ejs") %>

<div class="container">
    <h1 class="main-title">
        This is a simple To-Do List Application.
    </h1>
    <h4>By Ojus Kadu</h4>
</div>


<style>
    .main-title{
        color: blueviolet;
        padding: 30vh 0vh;
    }
    .body{
        height: 100vh;
    }
</style>



<%- include("partials/footer.ejs") %>